*.pdf
*.bag

# Built objects
*.so
*.a
*.pyc

# Documentation build artifacts
docs/_build/

# Python build artifacts
build/
dist/
*.egg-info/

#CLion / PyCharm directories
.cache/
.idea/
cmake-build-*/

build-*/
thirdparty/build-*/
thirdparty/build-*
